################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/M220N/DesignTimeBuild/.dtbcache.v2
